<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.PaymentMapper">
    <insert id="create" parameterType="Payment">
		insert into `payment` (trade_no) values (#{tradeNo})
	</insert>
    <select id="getPaymentById" resultType="Payment" parameterType="java.lang.Long">
		select * from `payment` where id = #{id}
	</select>
	<select id="getPaymentByTradeNo" resultType="Payment" >
		select * from `payment` where trade_no = #{tradeNo}
	</select>

</mapper>